

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }


body{margin:0 auto;

}

#site-header h1 img{ padding-left:200px;

}
#site-wrapper{background-color:#DFE6C5;
	          height:150px;
	          width:100%;
	          position:absolute;
	          top:0px;
	                 
}

#top-nav{float:right;
	     position:absolute;
	     left:980px;
	     top:10px;
	     font-family:helvetica;
	     color:#5C4025;
	     text-decoration:none;


}
#menu-wrapper{background-color:#5C4025;
	          height:0.5in;
	          width:100%;
	          position:relative;
	          text-decoration:none

}

#menu-wrapper li{float:left;
	             margin:10px;
                 padding:10px 22px;
                font-family:Helvetica;
                text-transform:uppercase;


}
#menu-wrapper ul{text-align:center;
	             list-style-position:center; 
	             margin-top:150px;
	             list-style-type:none;
	             text-align:center;
}

#page{float:left;
	 position:relative;
	 width:2in
	 


}
#side-bar{float:left;
	      position:relative;
	      width:2in
	 
}





















