

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
}


/* end of reset */

body {
	width:960px;
	margin:0 auto;
	position: relative;
}

article {
	float:left;
	width:45%;
	margin:0 2.5%;
	position:relative;
}

header{font-family:League Gothic;
	   font-size:80px;
	   color:grey;
	   text-align:center;
	   position:relative;

}
#top-menu {
	text-align:center;
	list-style-position:center;
	position:relative; 
	margin-left:460px;
}

#top-menu li {
	float:left;
    margin:10px;
    padding:10px 22px;
    font-family:Helvetica;
    text-transform:uppercase;
    text-align:center;  
    position:relative;
}

#footer-left {
	float:left;
	width:40%;
	position: relative;
}

.group:after {
  content: "";
  display:table;
  clear: both;

}
.vs{font-family:georgia;
	font-style:italic;
	font-weight:bold;
}

.group h4 {font-size: 20px;
	       font-family:baskerville;
	       font-style:bold:underline;
	       line-height:20px; 
}


@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condensed-regular-webfont.eot');
    src: url('leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condensed-italic-webfont.eot');
    src: url('leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}















